:root {
    --tableW: 550px;
}

.table {
    table-layout: fixed;
    width: var(--tableW);
    border-collapse: collapse;
}

    .table .thead th {
        position: relative;
        padding: 5px;
        font-size: 1em;
        text-align: start;
        border-right: 1px solid #cecece;
        font-weight: 500;
        letter-spacing: 0px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        user-select: none;
    }

        .table .thead th .colResizer {
            position: absolute;
            right: 0;
            top: 0;
            width: 5px;
            height: 100%;
            cursor: col-resize;
            z-index: 1;
        }

        .table .thead th:first-child {
            border-left: 1px solid #cecece;
        }

        .table .thead th:hover {
            background-color: #e7eaf9;
        }

    .table .w50 {
        width: calc(var(--tableW)/2);
        min-width: 50px;
    }

    .table .w25 {
        width: calc(var(--tableW)/4);
        min-width: 50px;
    }

    .table .tbody td {
        padding: 5px;
        font-size: 1em;
        text-align: start;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        user-select: none;
    }

        .table .tbody td i {
            font-size: 1.15em;
        }

    .table .tbody tr.click {
        background-color: #e9f6ff;
        outline: 1px solid #b6d0e1;
    }

    .table .tbody tr:hover:not(.click) {
        background-color: #f1f1f1;
    }

    .table .tbody .name > img {
        width: 1.15em;
    }

    .table .tbody td:not(.name) {
        color: #333;
    }
