<section class="appLayout">
    <nav class="nav"></nav>

    <div class="mainArea">
        <aside class="slider"></aside>

        <div class="content">
            <div class="calendar" id="calendar">
                <div class="calendarWrap noUserSelect">
                    <section class="calendarBody">
                        <header class="calendarHeader">
                            <button id="previous">&lt;</button>
                            <h2><span id="year">2021</span> <span id="month">一月</span></h2>
                            <button id="next">&gt;</button>
                        </header>

                        <div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>日</th>
                                        <th>一</th>
                                        <th>二</th>
                                        <th>三</th>
                                        <th>四</th>
                                        <th>五</th>
                                        <th>六</th>
                                    </tr>
                                </thead>

                                <tbody id="date"></tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>