<section class="appLayout">
    <nav class="nav">
        <menu>
            <li class="menu-item">
                關於
            </li>
        </menu>
    </nav>

    <div class="mainArea">
        <section class="content">
            <form>
                代碼：<input type="text" name="stockId" style="padding: 3px; font-size: 0.8rem; border: 1px solid #ccc; border-radius: 6px; "/>
                <input type="button" value="查詢" id="searchBTN" style="padding: 3px; font-size: 0.8rem; border: 1px solid #ccc; border-radius: 6px; "/>
            </form>
            <pre id="suggestion"></pre>
        </section>
    </div>
</section>