@model Backstage.Models.Weather.DeskTopTool
<div title="@Model.Weather">
    <div><img src="@(Model.WeatherIMG)" asp-append-version="true" /></div>
    <span class="noUserSelect">@Model.Temperature</span>
</div>
