@{
    Layout = TempData["Open"].ToString() == "_self" ? null : "~/Views/Shared/_WindowLayout.cshtml";
}

<div>

    <section class="wrap">
        <div class="yt"></div>
        <p class="videoTitle"></p>
        <div class="controlsWrap">
            <button class="playBTN">播放</button>
            <button class="next">下一首</button>
            <button class="prev">上一首</button>
            <button class="muteBtn">靜音</button>
            <input type="range" min="0" max="100" class="volumeSlider">
            <input type="range" min="0" max="0" value="0" class="timeSlider"><span class="timeText">0:00/0:00</span>
        </div>
    </section>
</div>