.table {
    width: 750px;
}

    .table .thead,
    .table .tbody {
        display: flex;
        width: 100%
    }

        .table .thead span {
            padding: 5px;
            font-size: 1em;
            text-align: start;
            border-right: 1px solid #cecece;
            border-bottom: 1px solid #cecece;
            font-weight: 500;
            letter-spacing: 0px;
            cursor: pointer;
        }

            .table .thead span:first-child {
                border-left: 1px solid #cecece;
            }

            .table .thead span:hover {
                background-color: #e7eaf9;
            }

    .table .name {
        width: 50%;
    }

    .table .date {
        width: 25%;
    }

    .table .type {
        width: 25%;
    }

    .table .tbody span {
        padding: 5px;
        font-size: 1.1em;
        text-align: start;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

        .table .tbody span i {
            font-size: 1.2em;
        }

    .table .tbody:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }

    .table .tbody .name {
        font-weight: bold;
    }

    .table .tbody .date {
        color: #333;
    }

    .table .tbody .type {
        color: #333;
    }
