<section class="appLayout show-nav">
    <nav class="nav">
        <menu>
            <li class="menu-item">
                檔案
                <ul class="dropdown">
                    <li><button id="saveBTN">儲存</button></li>
                    <li><button id="closeBTN">結束</button></li>
                </ul>
            </li>
            <li class="menu-item">
                商店
                <ul class="dropdown">
                    <li><button id="openShopBTN">轉蛋！</button></li>
                </ul>
            </li>
            <li class="menu-item" id="aboutBTN">
                關於
            </li>
        </menu>
    </nav>

    <div class="mainArea">
        <section class="content pad0" style="position:relative;">
            <canvas id="aquarium" class="fill100" style="vertical-align:middle;background: #a7d8ff; border-radius: 0 0 16px 16px; cursor: pointer;"></canvas>
            <div style="position:absolute;bottom:0;left:0;">
                <p>金幣：<span id="coins">100</span></p>
            </div>
        </section>
    </div>

    <dialog id="aboutWrap" class="dialog-box">
        <p>此功能為AI撰寫，我只負責出一張嘴。</p>
        <button type="button" class="closeBTN" onclick="this.closest('dialog').close()"><b>🗙</b></button>
    </dialog>
</section>