<section class="appLayout show-nav">
    <nav class="nav">
        <menu>
            <li class="menu-item">
                檔案
                <ul class="dropdown">
                    <li><button id="saveBTN">儲存</button></li>
                    <li><button id="closeBTN">結束</button></li>
                </ul>
            </li>
            <li class="menu-item">
                商店
                <ul class="dropdown">
                    <li><button id="openShopBTN">轉蛋！</button></li>
                </ul>
            </li>
        </menu>
    </nav>

    <div class="mainArea">
        <section class="content pad0" style="position:relative;">
            <canvas id="aquarium" class="fill100" style="vertical-align:middle;background: #a7d8ff; border: 1px solid #006064; cursor: pointer; " width="960" height="540"></canvas>
            <div style="position:absolute;top:0;right:0;">
                <p>金幣：<span id="coins">0</span></p>
            </div>
        </section>
    </div>
</section>